{% extends "base.html" %}
{% load static %}

{% block all_categories %}

<!--  All categories button under the navbar on small devices-->

<div class="d-lg-none">
    <div class="text-center">
        <a class="p-0 all-categories" type="button" data-toggle="collapse" data-target="#all-categories" aria-controls="all-categories" aria-expanded="false" aria-label="Toggle navigation">
            <span class="">All categories</span>
        </a>
    </div>

    <div class="collapse navbar-collapse" id="all-categories">
        <table class="table table-bordered text-center">            
            <tbody>
                <tr>                
                    <td>
                        <a href="{% url 'products' %}?genre=programming">Programming</a>
                    </td>
                    <td>
                        <a href="{% url 'products' %}?genre=business">Business</a>
                    </td>
                </tr>
                 <tr>                
                    <td>
                        <a href="{% url 'products' %}?genre=hardware">Hardware</a>
                    </td>
                    <td>
                        <a href="{% url 'products' %}?genre=network">Network</a>
                    </td>
                </tr>
                 <tr>                
                    <td>
                        <a href="{% url 'products' %}?genre=hacking">Hacking</a>
                    </td>
                    <td>
                        <a href="{% url 'products' %}?genre=web_application">Web application</a>
                    </td>
                </tr>
                 <tr>                
                    <td>
                        <a href="{% url 'products' %}?genre=electronics">Electronics</a>
                    </td>
                    <td>
                        <a href="{% url 'products' %}?genre=graphics">Graphics</a>
                    </td>
                </tr>
                 <tr>                
                    <td>
                        <a href="{% url 'products' %}?genre=games">Games</a>
                    </td>
                    <td>
                        <a href="{% url 'products' %}?genre=databases">Databases</a>
                    </td>
                </tr>                
            </tbody>
        </table> 
    </div>
</div>

{% endblock %}

{% block shop %}
 <div class="container mb-2">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">Shopping Bag</h2>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
                {% if bag_items %}
                    <div class="table-responsive rounded"></div>
                {% else %}
                    <p class="lead mb-5">Your bag is empty.</p>
                    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Keep Shopping</span>
                    </a>
                {% endif %}
            </div>
        </div>
   
{% endblock %}

 
