{% extends "base.html" %}
{% load static %}

{% block all_categories %}

<!--  All categories button under the navbar on small devices-->

<div class="d-lg-none">
    <div class="text-center">
        <a class="p-0 all-categories" type="button" data-toggle="collapse" data-target="#all-categories" aria-controls="all-categories" aria-expanded="false" aria-label="Toggle navigation">
            <span class="">All categories</span>
        </a>
    </div>

    <div class="collapse navbar-collapse" id="all-categories">
        <table class="table table-bordered text-center">            
            <tbody>
                <tr>                
                    <td>
                        <a href="{% url 'products' %}?genre=programming">Programming</a>
                    </td>
                    <td>
                        <a href="{% url 'products' %}?genre=business">Business</a>
                    </td>
                </tr>
                 <tr>                
                    <td>
                        <a href="{% url 'products' %}?genre=hardware">Hardware</a>
                    </td>
                    <td>
                        <a href="{% url 'products' %}?genre=network">Network</a>
                    </td>
                </tr>
                 <tr>                
                    <td>
                        <a href="{% url 'products' %}?genre=hacking">Hacking</a>
                    </td>
                    <td>
                        <a href="{% url 'products' %}?genre=web_application">Web application</a>
                    </td>
                </tr>
                 <tr>                
                    <td>
                        <a href="{% url 'products' %}?genre=electronics">Electronics</a>
                    </td>
                    <td>
                        <a href="{% url 'products' %}?genre=graphics">Graphics</a>
                    </td>
                </tr>
                 <tr>                
                    <td>
                        <a href="{% url 'products' %}?genre=games">Games</a>
                    </td>
                    <td>
                        <a href="{% url 'products' %}?genre=databases">Databases</a>
                    </td>
                </tr>                
            </tbody>
        </table> 
    </div>
</div>

{% endblock %}

{% block shop %}
 <div class="container mb-2">
        <div class="row">
            <div class="col">
                <hr>
                <h4 class="">Your Cart</h4>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
                {% if bag_items %}
                    <div class="table-responsive rounded">
                        <table class="table table-sm table-borderless">
                            <thead class="text-black hide-element">
                                <tr>
                                    <th scope="col">Title</th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col" id="text-right-lg">Price</th>
                                </tr>
                            </thead>

                            {% for item in bag_items %}
                                <tr>
                                    <td class="pt-2 w-25">
                                        <img class="img-fluid" src="{{ item.product.image.url }}">
                                    </td>
                                    <td class="pt-2">
                                        <p class="my-0 font-table-small">{{ item.product.name }}</p>
                                    </td>
                                    <td class="pt-2 hide-element">                                        
                                    </td>
                                    <td class="pt-2 w-25 font-table-small hide-element">
                                        <p class="my-0">{{ item.quantity }}</p>
                                    </td>
                                    <td class="pt-2 font-table-small hide-element">
                                        <p class="my-0">${{ item.product.price }}</p>
                                    </td>
                                </tr>
                                <tr class="show-element show-element1">                                   
                                    <td class="pt-2">  
                                        <p class="my-0 text-center">{{ item.quantity }}</p>
                                    </td>
                                    <td class="pt-2">
                                        <p class="my-0">${{ item.product.price }}</p>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="5" class="pt-4 pt-sm-3 pt-md-5 text-right">
                                    <h6>Total: ${{ total|floatformat:2 }}</h6>
                                    <h6>Delivery: ${{ delivery|floatformat:2 }}</h6>
                                    <h6 class="mt-3"><strong>Grand Total: ${{ grand_total|floatformat:2 }}</strong></h6>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5" class="text-right">
                                    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0">
                                        <span class="icon">
                                            <i class="fas fa-chevron-left"></i>
                                        </span>
                                        <span class="text-uppercase">Keep Shopping</span>
                                    </a>
                                    <a href="" class="btn btn-black rounded-0 pr-0">
                                        <span class="text-uppercase">Secure Checkout</span>
                                        <span class="icon">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                {% else %}
                    <p class="lead mb-5">Your bag is empty.</p>
                    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Keep Shopping</span>
                    </a>
                {% endif %}
            </div>
        </div>
 </div> 
{% endblock %}