{% extends "base.html" %}
{% load static %}


{% block newest %}
<hr>
<div class="container">
    <div class="row pt-1 pb-4 position-relative justify-content-center">        
        <div class="d-inline-block">
            
                <a href="{% url 'newest' %}">New books</a>
            
        </div>
        <div class="d-inline-block font-weight-bold right-md-element right-sm-element">
            <a href="{% url 'newest' %}">All new books</a>
        </div>
    </div>

     <!-- Shows only on lg screens -->
    <div class="row">      

        {% for product in newest_products %}
            <div class="d-none d-lg-block col-lg-3 pb-2">
                                <div class="card h-100">
                                    {% if product.image %}
                                    <a href="{% url 'product_detail' product.id %}">
                                        <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                                    </a>
                                    {% else %}
                                    <a href="{% url 'product_detail' product.id %}">
                                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                    </a>
                                    {% endif %}
                                    
                                    <div class="card-footer bg-white pt-0 border-0 text-left">
                                        <div class="row">
                                            <div class="col">
                                                <p class="lead mb-0 text-left font-weight-bold default-font">${{ product.price }}</p>
                                                {% if product.rating %}
                                                    <small class="text-muted "><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                                                {% else %}
                                                    <small class="text-muted">No Rating</small>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
            </div>
        {% endfor %}
    </div>
   
    <!-- Shows only on md screens -->
    <div class="row d-none d-sm-block d-md-block d-lg-none d-sm-flex d-md-flex justify-content-center">
        
        {% for product in newest_products %}                           
        <div class=>
            <div class="card py-1" style="width: 500px;">
                <div class="row no-gutters pb-1">
                    {% if product.image %}
                    <div class="col-sm-3">
                        <a href="{% url 'product_detail' product.id %}">
                            <img class="card-img img-small" src="{{product.image.url}}" alt="{{ product.name }}">
                        </a>
                    </div>
                    {% else %}
                    <div class="col-sm-3">
                        <a href="{% url 'product_detail' product.id %}">
                            <img class="img-small" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                        </a>
                    </div>
                    {% endif %}
                    <div class="col-sm-9">
                        <div class="card-body p-0">
                            <h6 class="card-title small-font">{{product.name}}</h6>                                                
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        
    </div>

    <!-- Shows only on sm screens-->
    <div class="d-block d-sm-none justify-content-center w-100 no-gutters" style="overflow:hidden">
       
        {% for product in newest_products %}        

            <div class="overflow-hidden mb-1 py-1 default-border">
            {% if product.image %}
                    
                       <div class="float-left pr-1">
                            <a href="{% url 'product_detail' product.id %}">
                                <img class="card-img img-small" src="{{product.image.url}}" alt="{{ product.name }}">
                            </a>
                       </div>
                       <div class="ml">
                       
                            <p class="text-truncate small-font">{{ product.name }}</p>
                       
                       </div>                       
            </div>        
                    
                    {% else %}
                    <div class="col-sm-3 mb-2">
                        <a href="{% url 'product_detail' product.id %}">
                            <img class="img-small" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                        </a>
                    </div>                    
             {% endif %}
                   
            
        {% endfor %}
    </div>
    
    
    <hr>
    
       
    
</div>
    
{% endblock %}


 





 
