

/*   Navbar   */


.vertical-center-mobile {
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
}

@media only screen and (min-width: 1200px) {
    .nav-links-lg {
    display: block;
    padding: .5rem .5rem;
}
}

@media only screen and (max-width: 1199px) {
    .nav-links-md {
    display: block;
    padding: .5rem .3rem;
}
}

@media only screen and (max-width: 991px) {
    .padding-main-catalog-1 {
    
    padding-right: 4.5rem;
}
}

@media only screen and (max-width: 790px) {
    .padding-main-catalog-2 {
    
    padding-right: 3rem;
}
}

@media only screen and (max-width: 700px) {
    .padding-3 {
    
    padding-right: 1.7rem;
}
}


@media only screen and (max-width: 690px) {
    .display-none-on-min-690 {
    
    display: none;
}
}

@media only screen and (min-width: 689px) {
    .display-on-max-689 {
    
    display: none;
}
}






/* Styling hamburger   */

.hamburger{
    
    font-size:30px;
    cursor:pointer;
    
}


.sidenav {
  height: auto;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
    }
  
  .sidenav a {
    font-size: 18px;
     }
}