<!--Navbar -->

<div class="container-fluid no-gutters p-0">
    <nav class="navbar-fluid navbar-expand-sm navbar-light bg-light d-none d-sm-block d-lg-none">

        <div class="row no-gutters p-0">            
            
            <div class="col-2 pl-2">                        
                <a class="navbar-brand" href="{% url 'home' %}">Bookshop</a>                        
            </div>

            <div class="col-8 d-flex justify-content-center">
                <div class="d-inline-block pt-2 padding-main-catalog-1 padding-main-catalog-2 padding-3">
                    <a href="#">Videocourses</a>
                </div>
                                
                <div class="d-inline-block pt-2 padding-main-catalog-1 padding-main-catalog-2 padding-3">
                    <a href="#">Ebooks</a>
                </div>
                                
                <div class="d-inline-block pt-2 padding-main-catalog-1 padding-main-catalog-2 padding-3">
                    <a href="#">Books</a>
                </div>
                                
                <div class="d-inline-block pt-2 padding-main-catalog-1 padding-main-catalog-2 padding-3">
                    <a href="#">Audiobooks</a>
                </div>
                            
            </div>
            
            <div class="col-2 pr-3 d-flex justify-content-end">
                
                <li class="list-inline-item dropdown">                        
                    <a class="nav-link display-none-on-min-690" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Accounts

                    </a>
                    <a class="nav-link display-on-max-689" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user-circle " ></i>                                
                    </a>
                                
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                                <a href="" class="dropdown-item">Product Management</a>
                            {% endif %}
                            <a href="" class="dropdown-item">My Profile</a>
                            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                         {% else %}
                            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                        {% endif %}
                    </div>
                                
                    </li>
                    <li class="list-inline-item pt-2">
                        <div>
                            <div class="d-inline-block">
                                <a class="" href="#">                                                                    
                                    <i class="fas fa-shopping-cart"></i>                             
                                </a>
                            </div>
                                        
                            <div class="d-inline-block">
                                <p class="my-0">
                                    {% if grand_total %}
                                    {{ grand_total|floatformat:2 }}
                                    {% else %}
                                    $0.00
                                    {% endif %}
                                </p>           
                            </div>                  
                        </div>
                    </li>            
                               
            </div>
            
        </div>       
          
                                
            
        <!-- Searchbar-->

        <div class="row justify-content-center">
            <div class="col-9 my-auto py-1 py-lg-0">
                <form method="GET" action="">
                    <div class="input-group w-100">
                        <input class="form-control" type="text" name="searchbar" placeholder="Search our site">
                        <div class="input-group-append">
                            <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>       
    
    </nav>
</div>
